@import "tailwindcss";



.inconsolata-500 {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight:500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

@layer base{
:root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 243 75.4% 58.6%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 243 75.4% 58.6%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
  }




}

  @layer utilities {
  .container {
    @apply mx-auto px-4;
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    /* border-radius: var(--radius); */
    border-color: hsl(var(--destructive));
    border: 1px solid;

  }


  *{
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    font-family: 'Inconsolata', monospace;  
  }


  .card{
    background-color: hsl(var(--card));
    color: hsl(var(--card-foreground));
    border-radius: var(--radius);
    padding: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06);
  }
}